<script>
        // var eventListener = window.addEventListener ? "addEventListener" : "attachEvent";
        // var clickEvent = eventListener == "attachEvent" ? "onclick" : "click";
        
        // document.getElementById('buttonId')[eventListener](clickEvent, function(){
        //   document.body.style.display = "none";

         
        // });
       

        

$(document).ready(function() {
    document.body.style.display = "none";
    window.location = "#!/adminlogin";
});

</script>



