<div class="container">

    <div class="container">
        <center>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Feedback</a></li>
            </ol>
      </center>


    </div>

    <div class="container">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <h1>Feedback</h1>
                </div>
            <form class="well form-horizontal" name="form"  method="post"   id="contact_form">
 
                    <div class="fadeIn first">
                        <h3>Enter Patient Name</h3>
                    </div>

                    <div class="form-group">
                        <input name="fname" placeholder="Patient Name"  required="required"  ng-model="feedback.fname"  class="form-control" required="required"  type="text">

                    </div>

                    <div class="fadeIn first">
                        <h3>Enter Mobile Number</h3>
                    </div>

                    <div class="form-group">
                        <input name="fmobile" placeholder="xxxxx xxxxx" ng-model="feedback.fmobile" type="number" required="required" id="mobile" required="required"
                            class="fadeIn second">
                    </div>


                </form>

                <a href="#!/select" >
               
                    <input type="submit" id="id"  class="fadeIn fourth"  ng-disabled="form.$invalid" value="Next" disabled='disabled'>
                </a>
               
             
            <style>
                .btn.active {
                    display: none;
                }

                .btn span:nth-of-type(1) {
                    display: none;
                }

                .btn span:last-child {
                    display: block;
                }

                .btn.active span:nth-of-type(1) {
                    display: block;
                }

                .btn.active span:last-child {
                    display: none;
                }
            </style>




        </div>
    </div>



</div>





<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');


    .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
        background-color: rgb(255, 255, 255);
        padding: 0.8rem;
        width: 33rem;
    }

    .rating-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.4rem 0.8rem;
        width: 100%;
    }

    .rating-text p {
        color: rgba(0, 0, 16, 0.8);
        font-size: 1.3rem;
        padding: 0.3rem;
    }

    .rating {
        background-color: rgba(0, 0, 16, 0.8);
        padding: 0.4rem 0.4rem 0.1rem 0.4rem;
        border-radius: 2.2rem;
    }

    svg {
        fill: rgb(242, 242, 242);
        height: 3.6rem;
        width: 3.6rem;
        margin: 0.2rem;
    }

    .rating-form-2 svg {
        height: 3rem;
        width: 3rem;
        margin: 0.5rem;
    }

    #radios label {
        position: relative;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
    }

    input[type="radio"]+svg {
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    input+svg {
        cursor: pointer;
    }

    footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: right;
        width: 34.6rem;
        margin: auto;
    }

    footer p {
        font-size: 1.3em;
    }


</style>



<!-- <script>

    $().ready = function () {
        $('#contact_form1').hide();
        $('#contact_form2').hide();
        $('#next1').hide();
        $('#next2').hide();

        $("#next").click(function () {
          

            $('#contact_form').fadeOut();
            $('#contact_form1').show();
            $('#contact_form2').hide();
            $('#next2').hide();
        $('#next1').show();
        $('#next').hide();
       
        });

$("#next1").click(function () {
   
    $('#contact_form').hide();
            $('#contact_form1').hide();
            $('#contact_form2').show();
            $('#next2').show();
        $('#next1').hide();
        $('#next').hide();

        });


    }();                             
</script> -->


<style>
    #success_message {
        display: none;
    }
</style>


<script>

    $(document).ready(
        function () {
            $('#contact_form').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    fname: {
                        validators: {
                            stringLength: {
                                min: 3,

                            },
                            notEmpty: {
                                message: 'Please supply your patient name'
                            }
                        }
                    },
                    fmobile: {
                        validators: {
                            notEmpty: {
                                message: 'Please supply your phone number',

                            },
                            stringLength: {
                                min: 10,

                            },
                            fmobile: {
                                country: 'IND',
                                message: 'Please supply a vaild phone number with area code'

                            }
                        }
                    }

                }
            })
                .on('success.form.bv', function (e) {
                    $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                    $('#contact_form').data('bootstrapValidator').resetForm();

                    // Prevent form submission
                    e.preventDefault();

                    // Get the form instance
                    var $form = $(e.target);

                    // Get the BootstrapValidator instance
                    var bv = $form.data('bootstrapValidator');


                    // Use Ajax to submit form data
                    $.post($form.attr('action'), $form.serialize(), function (result) {
                        console.log(result);
                    }, 'json');
                });


        }

    );




</script>



<style>
    .show-hide {
        display: none;
        width: 100px;
        padding: 15px;
        border: 1px solid #000;
    }

    .active {
        background: green !important;
    }
</style>

<script>
    $(document).ready(function () {

        $this = $(this);
        $('input[type=radio]').change(function () {

            if ($('#option2').is(':checked')) {
                //alert('hi')
                $('.show-hide').fadeIn('slow');
            } else {
                $('.show-hide').fadeOut('slow');
            }
        })
    });
</script>