
                <div class="content">
                        <form class="well form-horizontal" name="form" action=" " method="post" id="contact_form2">
                            <fieldset>
                                    <div class="well well-sm text-center">

                   
                   

                                            <div class="row">
            
                                                <div class="col-md-3 ">
                                                    <h2 style="text-align: left;color: blue">
                                                    Will you Recommend our hospital
                                                    </h2>
                                                </div>
            
                                                <div class="col-md-9 ">
                                                    <label class="btn btn-lg btn-success">
                                                        <input type="radio" name="recommend" ng-model="feedback.recommend" value="1">
                                                        Yes
                                                    </label>
                                                    <label class="btn btn-lg btn-warning">
                                                        <input type="radio" name="recommend" ng-model="feedback.recommend" value="2">
                                                        No
                                                    </label>
            
            
                                                </div>
                                            </div>
            
                                            <div class="row">

                                                    <div class="col-md-3">
                                                            <h2 style="text-align: left;color: blue">
                                                            Staff who made difference
                                                            </h2>
            
                                                        </div>
            
                                                        <div class="col-md-9">
                                                                <div class="form-group">
                                                                        <input  name="staffdiff" ng-model="feedback.staffdiff" placeholder="staffdiff" class="form-control"  type="text">
                                                
                                                                    </div>
                                                        </div>
                                                        
                                            </div>
                                          
                                            <div class="row">


                                            <div class="col-md-3">
                                                    <h2 style="text-align: left;color: blue">
                                                   Remark
                                                    </h2>
    
                                                </div>
    
                                                <div class="col-md-9">
                                                        <div class="form-group">
                                                                <textarea name="remark" rows="6" placeholder="remark" ng-model="feedback.remark" class="form-control" type="text"></textarea>
                                        
                                                            </div>
                                                </div>
    


                                            </div>

                                       



                                   </div>

                            </fieldset>
                            </form>
<center>

        <input type="submit"  class="fadeIn fourth" ng-click="register()" value="Submit" id="next2">

</center>
    
                            





            </div>
