
<div class="container">
<br><br><br>

<br><br><br><br><br>
    <div class="wrapper fadeInDown">
            <div id="formContent">
   
          <h1>
             Thank you for your Feedback
             <span>{{m.pname}}</span>
           
          </h1>
              <center>

              <a href="#!/home">
                <input type="button" style="font-size: 22px;" value="Close">
           
              </a>
               </center>
             
            </div>
          </div>


       
</div>
