<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#!/patient"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#!/patient">Home</a></li>
       
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/login" ng-show="currentUser.username"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li ><a href="#!/home" ng-click="logout()" >Logout</a></li>
     
    </ul>
    </div>
  </div>
</nav>
  


</body>
</html>

<div class="container">
	<div class="row">
		
      
        <div class="table-responsive col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Patient Name</th>
                        <th>Mobile</th>
                        <th>Feeback</th>
                        <!-- <th>Company Name</th>
                        <th>Location</th>
                        <th>Posted On</th>
                        <th>Years Of Experience</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in feedback | filter:searchText">
                    <!-- <td><a href="#!/getjob/{{job.id}}">{{job.jobTitle}}</a></td> -->
                    <td>{{m.pdate}}</td>
                    
                    <td>{{m.pname}}</td>
                    <td>{{m.pmobile}}</td>
                    <td>{{m.remark}}</td>
                    <!-- <td>{{job.location}}</td>
                    <td>{{job.postedOn | date:'MM/dd/yyyy'}}</td>
                    <td>{{job.yearOfExperience}}</td> -->
                    </tr>
                 </tbody>
            </table>
        </div>
        
	</div>
</div>