    <center>
        <a href="#!/feedback">
            <button type="button" class="btn btn-warning btn-lg btn3d"><span class="glyphicon glyphicon-comment"></span> Feedback</button>
        </a>
     </center>

<STyle>

.btn3d {
    transition:all .08s linear;
    position: center;
    outline:medium none;
    /* -moz-outline-style:none; */
    border:0px;
    margin-right:10px;
    margin-top: 4em;
    font-size: 45px;
    
}
.btn3d:focus {
    outline:medium none;
    /* -moz-outline-style:none; */
}
.btn3d:active {
    top:9px;
}
.btn-default {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-primary {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
 .btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
 .btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}


</STyle>




<div class="footer-bottom">

        <div class="container">
    
            <div class="row">
    
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    
                    <div class="copyright">
    
                        © 2018. Dr. Agarwal’s Eye Hospital
                    </div>
    
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    
                    <div class="design">
    <!-- 
                         <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Webenlance</a> -->
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
    </div>
    
    