<div class="container">
        <span style="color:red">{{exception.message}}</span>
    <div class="row">
        <div class="col-xs-6 col-centered">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1>
                        <center>Edit-profile</center>
                    </h1>
                </div>
                <form>
                    <div class="panel-body" style="max-height: 450;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i></span>
                                    <input type="text" name="firstname" ng-model="user.firstname" placeholder="firstname" class="form-control"><!--user is the object that we created in DAO -->
                                    
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user-plus"></i>
                                </span>
                                <input type="text" name="lastname" ng-model="user.lastname" placeholder="lastname" class="form-control">

                            </div>
                        </div>

                        <div class="form-group">
                                <span style="color:red">{{duplicateUsername.message}}</span>
                            <div class="input-group">
                                    
                                <span class="input-group-addon">
                                    <i class="fa fa-id-badge"></i></span>
                                <input type="text" name="username" ng-model="user.username" placeholder="username" class="form-control">
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" name="password" ng-model="user.password" placeholder="password" class="form-control">

                            </div>
                        </div>

                        <div class="form-group">
                                <span style="color:red">{{duplicateEmail.message}}</span>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i></span>
                                <input type="email" name="email" ng-model="user.email" placeholder="email" class="form-control">
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-mobile"></i></span>
                                <input type="text" name="mobilenumber" ng-model="user.mobilenumber" placeholder="Mobile number" class="form-control">

                            </div>
                        </div>

                        <div class="form-group">
                                <label class="control-label col-xs-3">Role</label>
                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                    <input type="radio" name="role" ng-model="user.role" value="Student">Student
                                                </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                    <input type="radio" name="role" ng-model="user.role" value="Employee">Employee
                                                </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                    <input type="radio" name="role" ng-model="user.role" value="Alumini">Alumini
                                                </label>
                                        </div>
                                    </div>
                                </div>
<br>
<br>
                        <div>
                            <input type="submit" ng-click="updateProfile()"  value="update" class="btn pull-right"> 
                            
                        </div>
                    </div>

                </form>
                <span style="color:red">{{error.message}}</span>
            </div>
        </div>
    </div>
</div>