<div class="container">
    <span style="color:red">{{exception.message}}</span>
<div class="row">
    <div class="col-xs-6 col-centered">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1>
                    <center>Registration</center>
                </h1>
            </div>
            <form>
                    <div class="panel-body" style="max-height: 550;">
                            <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-file-image-o"></i></span>
                                        <input type="file" name="Image" ng-model="user.Image" placeholder="Profile Picture" class="form-control">
                                
                                    </div>
                                </div>
                                
                        <div>
                                <input type="submit" ng-click="register()" value="Register" class="btn pull-right"> 
                                
                            </div>
        
                                </div>
                                </form>
                                </div>
                                </div>
                                </div>


